vrrp_script chk_haproxy {
    script 'killall -0 haproxy' # faster than pidof
    interval 2
}

vrrp_instance haproxy-vip {
   interface eth0
    state {{ k3s_controllers_lb_role }}
    priority {{ k3s_controllers_lb_priority }}

    virtual_router_id 51

    virtual_ipaddress {
        {{ k3s_controllers_lb_vip_with_cidr }}
    }

    track_script {
        chk_haproxy
    }
}
