configs:
  "registry-1.docker.io":
    auth:
      username: marvink
      password: {{ lookup('ansible.builtin.env', 'K3S_CONTROLLERS_DOCKERHUB_PSW') }}
  "registry.kuurstra.com":
    auth:
      username: "robot$docker-proxy+k3s-nodes"
      password: {{ lookup('ansible.builtin.env', 'K3S_CONTROLLERS_REGISTRY_KUURSTRA_COM_PSW') }}
mirrors:
  "docker.io":
    endpoint:
      - "https://registry.kuurstra.com/v2/docker-proxy"
      - "https://index.docker.io/v2"
  "registry-1.docker.io":
    endpoint:
      - "https://registry.kuurstra.com/v2/docker-proxy"
      - "https://registry-1.docker.io/v2"
